user {{ nginx_user }};
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# RedHat-based
include /usr/share/nginx/modules/*.conf;
# Debian-based
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 1024;
    #
    # Accept multiple connections 
    #
    multi_accept on;

    #
    # Connection method for newer linux verisons
    #
    use epoll;
}

http {

    #
    # Log options and format
    #
    log_format  main    '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for"';
    access_log          /var/log/nginx/access.log  main;

    #
    # Override buffer limitations, prevent DDOS
    #
    client_body_buffer_size         10K;
    client_header_buffer_size       1k;
    client_max_body_size            8m;
    large_client_header_buffers     2 1k;

    #
    # Timeouts
    # - client_*_timeout will cause a 408 error or Request timeout after duration
    # - keepalive_timeout will close connections with this client after duration
    # - send_timeout will close connection after duration for transmitting response to client
    # - reset_timedout_connection on to free socket-associated memory
    #
    client_body_timeout             32;
    client_header_timeout           32;
    keepalive_timeout               90;
    reset_timedout_connection       on;

    #
    # Open file descriptors
    #
    open_file_cache                 max=200000 inactive=20s;
    open_file_cache_valid           30s;
    open_file_cache_min_uses        2;
    open_file_cache_errors          on;
    sendfile                        on;
    tcp_nopush                      on;
    tcp_nodelay                     on;
    sendfile_max_chunk              5m;
    types_hash_max_size             2048;

    #
    # Hide nginx version
    #
    server_tokens off;

    include                         /etc/nginx/mime.types;
    default_type                    application/octet-stream;

    server {
        listen                      21;
        # listen                    [::]:22;

        root                        /var/www/html;

        index                       index.html;

        server_name                 _;

        location / {
            try_files               $uri $uri/ @redirector;
        }

        location @redirector {
            proxy_pass              http://{{ c2_ipaddress }}:21;

            proxy_buffering         off;
            proxy_redirect          off;

            proxy_set_header        Host $host;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }

    server {
        listen                      80;
        # listen                    [::]:80;

        root                        /var/www/html;

        index                       index.html;

        server_name                 _;

        location / {
            try_files               $uri $uri/ @redirector;
        }

        location @redirector {
            proxy_pass              http://{{ c2_ipaddress }}:80;

            proxy_buffering         off;
            proxy_redirect          off;

            proxy_set_header        Host $host;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }

    server {
        listen                      8080;
        # listen                    [::]:8080;

        root                        /var/www/html;

        index                       index.html;

        server_name                 _;

        location / {
            try_files               $uri $uri/ @redirector;
        }

        location @redirector {
            proxy_pass              http://{{ c2_ipaddress }}:8080;

            proxy_buffering         off;
            proxy_redirect          off;

            proxy_set_header        Host $host;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }

    server {
        listen                      443 ssl;
        # listen                    [::]:443 ssl;

        ssl_certificate             {{ ssl_certificate_path }};
        ssl_certificate_key         {{ ssl_private_key_path }};

        # Maximum compatibility with agents
        ssl_protocols               SSLv3 TLSv1 TLSv1.1 TLSv1.2;

        root                        /var/www/html;

        index                       index.html;

        server_name                 _;

        location / {
            try_files               $uri $uri/ @redirector;
        }

        location @redirector {
            proxy_pass              https://{{ c2_ipaddress }}:443;

            proxy_buffering         off;
            proxy_redirect          off;

            proxy_ssl_verify        off;
            proxy_ssl_session_reuse on;

            proxy_set_header        Host $host;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }

    server {
        listen                      8443 ssl;
        # listen                    [::]:8443 ssl;

        ssl_certificate             {{ ssl_certificate_path }};
        ssl_certificate_key         {{ ssl_private_key_path }};

        # Maximum compatibility with agents
        ssl_protocols               SSLv3 TLSv1 TLSv1.1 TLSv1.2;

        root                        /var/www/html;

        index                       index.html;

        server_name                 _;

        location / {
            try_files               $uri $uri/ @redirector;
        }

        location @redirector {
            proxy_pass              https://{{ c2_ipaddress }}:8443;

            proxy_buffering         off;
            proxy_redirect          off;

            proxy_ssl_verify        off;
            proxy_ssl_session_reuse on;

            proxy_set_header        Host $host;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}

stream {
    upstream ftp {
        server                      {{ c2_ipaddress }}:21;
    }

    upstream ssh {
        server                      {{ c2_ipaddress }}:22;
    }

    upstream dns {
        server                      {{ c2_ipaddress }}:53;
    }

    server {
        listen                      2121;
        proxy_pass                  ftp;
        proxy_timeout               1m;
    }

    server {
        listen                      2222;
        proxy_pass                  ssh;
        proxy_timeout               1m;
    }

    server {
        listen                      53 udp reuseport;
        proxy_pass                  dns;
        proxy_timeout               1m;
    }
}
